@page "/channel/"
@page "/channel/{CurrentChannelId:guid}"
@inject PrivateChannelSvc.PrivateChannelSvcClient Client
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Channel> Localizer
@inject IdentIconService IdentIcon





<MudStack Row Class="fill-height" Spacing="0">
    <MudPaper Class="d-none d-md-flex fill-height">
        <MudNavMenu Class="overlow-x-hidden overflow-y-auto" Bordered Style="width:330px">
            @foreach (Guid channel in Channels)
            {
                <MudNavLink Icon="@IdentIcon.GetIconFromId(channel)" Match="NavLinkMatch.All" Href=@($"/channel/{channel}") Style="white-space:nowrap;overflow:hidden">@channel</MudNavLink>
            }
            <MudButton FullWidth OnClick="AddChannel" Variant="Variant.Filled" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Add" Class="mt-2">@Localizer["AddChannelButton"]</MudButton>
        </MudNavMenu>
    </MudPaper>

    <MudPaper Class="d-flex d-md-none fill-height">
        <MudNavMenu Class="overlow-x-hidden overflow-y-auto" Bordered Style="width:60px">
            @foreach (Guid channel in Channels)
            {
                <MudNavLink Icon="@IdentIcon.GetIconFromId(channel)" Match="NavLinkMatch.All" Href=@($"/channel/{channel}") Style="white-space:nowrap;overflow:hidden"></MudNavLink>
            }
            <MudIconButton OnClick="AddChannel" Variant="Variant.Filled" Color="Color.Secondary" Icon="@Icons.Material.Filled.Add" Class="mt-2" Style="width:100%"></MudIconButton>
        </MudNavMenu>
    </MudPaper>

    <MudContainer Class="fill-height flex-grow-1">

        @foreach (Guid channel in Channels)
        {
            <div class="@(channel == CurrentChannelId ? "d-block fill-height" : "d-none")">
                <ChannelChat ChannelId="channel" />
            </div>
        }

    </MudContainer>
</MudStack>




