@page "/channel/"
@page "/channel/{ChannelId:guid}"
@inject PrivateChannelSvc.PrivateChannelSvcClient Client
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IJSRuntime JsInterop
@inject IStringLocalizer<Channel> Localizer

<MudContainer Class="fill-height">

    @if (ChannelId == null)
    {
        <div class="d-flex flex-column align-center mt-4">
            <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
            <MudText Typo="Typo.body1">@Localizer["InitializingNewChannelMessage"]</MudText>
        </div>
    }
    else
    {
        <div class="d-flex fill-height flex-column gap-4 py-4">

            @if (PeerPublicKey != null)
            {
                <MudPaper Class="flex-grow-1 overflow-auto" Elevation="3">

                    <div class="fill-height overflow-auto">
                        <div class="fill-height d-flex flex-column gap-4 px-4 pb-4 overflow-auto">

                            @*This is a hack to get item align at bottom with scrollbar*@
                            <div class="mt-auto"></div>

                            @{
                                DateTime? day = null;
                            }

                            @foreach (MessageBase message in Messages)
                            {
                                @if (day == null || day != message.DateTime.Date)
                                {
                                    day = message.DateTime.Date;

                                    <MudText @key=day Class="align-self-center" Typo="Typo.caption">@day.Value.ToLongDateString()</MudText>
                                }
                                <MudPaper @key=message MaxWidth="90%" Class="@("pt-4 px-6 pb-2 " + (message.IsSender ? "mud-theme-secondary rounded-l-xl rounded-tr-xl align-self-end" : "mud-theme-primary rounded-r-xl rounded-tl-xl align-self-start"))">
                                    @if (message is TextMessage textMessage)
                                    {
                                        <div class="d-flex flex-column gap-2" style="min-width:60px">
                                            <pre style="white-space:pre-wrap"><MudText Typo="Typo.body1">@textMessage.Message</MudText></pre>
                                            <MudText Class="@(" " + (message.IsSender ? "align-self-end" : "align-self-start"))" Typo="Typo.caption">@textMessage.DateTime.ToShortTimeString()</MudText>
                                        </div>

                                    }
                                </MudPaper>
                            }
                        </div>
                    </div>

                </MudPaper>

                <MudPaper MinHeight="80px" Elevation="0">
                    <MudTextField Margin="Margin.Dense" Variant="Variant.Filled" Placeholder="@Localizer["NewMessagePlaceholder"]" @bind-Value="TextToSend" Lines=@(Math.Max(2, Math.Min(TextToSend.Split('\n').Length ,6))) Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Send" OnAdornmentClick="SendMessage" Immediate DisableUnderLine/>
                </MudPaper>

            }
            else
            {
                <div>
                    <MudTextField ReadOnly Value="ChannelLink" Label="@Localizer["ShareLinkMessage"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.ContentCopy" OnAdornmentClick="CopyChannelLinkToClipboard" />
                </div>
                <div class="d-flex flex-column align-center mt-4">
                    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
                    <MudText Typo="Typo.body1">@Localizer["WaitingPeerMessage"]</MudText>
                </div>
            }

        </div>
    }
</MudContainer>