@page "/"
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Index> Localizer

<MudContainer>
    <div class="header-image-container">
        <img class="header-image-image" src="secure-baneer.jpg" alt="Background image">
        <div class="header-image-text">
            <MudText Typo="Typo.h2">@Localizer["MainTitle"]</MudText>
            <MudText Typo="Typo.button">@Localizer["SubTitle"]</MudText>
        </div>
    </div>

    <MudText Typo="Typo.body1">@Localizer["IntroParagraph"]</MudText>

    <MudText Typo="Typo.h3">@Localizer["HowItWorksTitle"]</MudText>


    <MudText Typo="Typo.h4">@Localizer["HowItWorksPrivateNotesTitle"]</MudText>
    <MudText Typo="Typo.body1">@Localizer["HowItWorksPrivateNotesParagraph"]</MudText>

    <MudText Typo="Typo.h4">@Localizer["HowItWorksPrivateChannelsTitle"]</MudText>
    <MudText Typo="Typo.body1">@Localizer["HowItWorksPrivateChannelsParagraph"]</MudText>

    <MudText Typo="Typo.h3">@Localizer["TrustUsTitle"]</MudText>
    <MudText Typo="Typo.body1">@Localizer["TrustUsParagraph"]</MudText>

    <MudText Typo="Typo.h3">@Localizer["CallToActionTitle"]</MudText>
    <MudButton StartIcon="@Icons.Material.Filled.Message" Color="Color.Secondary" Variant="Variant.Filled" OnClick="@(() => NavigationManager.NavigateTo("/note/"))">@Localizer["NewNoteButton"]</MudButton>
    <MudButton StartIcon="@Icons.Material.Filled.Message" Color="Color.Secondary" Variant="Variant.Filled" OnClick="@(() => NavigationManager.NavigateTo("/channel/"))">@Localizer["NewChannelButton"]</MudButton>

</MudContainer>